* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body{
  background-color: var(--body-color);
  overflow-x: hidden;
}

*::selection {
  color: #ff7f4c;
}

:root {
  --background: #ff7f4c;
  --text-header:#ff7f4c;
  --text:#000;
  --body-color:#fff;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

.logo {
  border: #111;
}

.logo img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px double var(--background);
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  margin-bottom: 30px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: var(--background);
  color: #fff;
  padding: 8px 30px;
  border-radius: 30px;
  margin: 30px 0;
  transition: background 0.5s;
}

.btn:hover {
  background: var(--text);
}

.col-3 {
  background-color: var(--background);
  flex-basis: 30%;
  min-width: 250px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.col-3 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.col-4 {
  flex-basis: 25%;
  min-width: 200px;
  padding: 10px;
  margin-bottom: 50px;
}

.col-4 img {
  width: 100%;
}

.menu {
  width: 28px;
  margin-left: 20px;
  display: none;
}

.ANIMATED-BG {
  animation: change 50s infinite 0s forwards linear;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

@keyframes change {
  20% {
    background-image: url(img/background.png);
  }
  40% {
    background-image: url(img/service-bg-3.jpg);
  }
  60% {
    background-image: url(img/american-public-power-association-VuR4oHZ3ucc-unsplash.jpg);
  }

  80% {
    background-image: url(img/service-27.jpg);
  }
  100% {
    background-image: url(img/project-41.jpg);
  }
}

.first-text {
  border-left: 2px solid var(--background);
  padding: 10px;
  margin-left: 50px;
  padding-top: 150px;
}

.first-text h1 {
  color: var(--background);
  font-size: 50px;
}

.first-text span {
  color: var(--text);
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--text);
  margin: 2px auto;
  flex: 1;
}

form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input {
  padding: 8px;
  background: transparent;
  outline: none;
  border-radius: 5px;
  border: 2px double var(--background);
  margin-right: 20px;
}

form button {
  outline: none;
  border-radius: 5px;
  padding: 10px 30px;
  background-color: var(--background);
  border: 2px double var(--background);
  transition: all 2s;
}

form button:hover {
  background-color:var(--text);
}

::placeholder {
  color: var(--body-color);
}

.about-con {
  padding: 30px;
  margin: 10px auto;
  margin-bottom: 50px;
}
.text h5 {
  font-weight: 700;
  font-size: 15px;
  color: var(--background);
  margin-bottom: 20px;
}

.text h2 {
  font-size: 45px;
  margin-bottom: 20px;
}

.text p {
  line-height: 25px;
  margin-bottom: 15px;
  color: var(--text);
  text-align: justify;
  text-transform: capitalize;
}

.text li {
  line-height: 25px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.service-con {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url(img/shape-76.png);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service-con h2 {
  text-align: center;
  margin-bottom: 60px;
}

.image {
  background-color: var(--background);
  border-radius: 50%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  top: 190px;
  position: absolute;
  height: 20%;
}

.service-text {
  padding: 20px;
}

.service-text h3 {
  font-size: 23px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.service-text p {
  font-size: 13px;
  line-height: 18px;
  /* color: #555; */
}

.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.mow {
  margin-top: 10px;
  flex-wrap: wrap;
  padding: 30px;
}

.ha {
  margin-top: 10px;
  padding: 30px;
}

/* Clear floats after the columns */
.mow:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 50px;
  text-align: center;
  background-color: var(--background);
}

.card h3 {
  font-size: 18px;
}

.card .fa {
  font-size: 22px;
}

.team {
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

.team .con {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.con-img {
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.con-img img {
  border-radius: 50%;
  left: -100px;
  position: absolute;
  z-index: 2;
}

.overlay {
  left: 0px;
  right: 15px;

  bottom: -190px;
  z-index: 3;
}

.overlay img {
  position: absolute;
  width: 180px;
  border-radius: 50%;
  height: 180px;
}

/*  */
.visuality-hidden{
  white-space: nowrap;
  width: 1px;
  clip-path: inset(50%);
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

.color-picker > fieldset{
  border: 0;
  display: flex;
  gap: 2rem;
  background: #ff7f4c;
  width: fit-content;
  border-bottom-left-radius:8px ;
  margin-inline: auto;
  border-bottom-right-radius: 8px;
  padding: 1rem 3rem;
}

.color-picker input[type="radio"]{
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid var(--radio-color, currentColor);
}

.color-picker input[type="radio"]#pink{
  --radio-color:pink;
}
.color-picker input[type="radio"]#dark{
  --radio-color:pink;
}
.color-picker input[type="radio"]#blue{
  --radio-color:rgb(102, 0, 255);
}
.color-picker input[type="radio"]#green{
  --radio-color:pink;
}

@media (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    z-index: 9;
    left: 0;
    background: var(--background);
    width: 100%;
    transition: all 2s;
    overflow: hidden;
  }

  nav ul li {
    display: block;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: var(--body-color);
  }

  .menu {
    display: block;
  }

  .column {
    flex-direction: column;
    width: 100%;
  }

  .card {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .row {
    text-align: center;
  }

  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
}
